.player1{
    background-color: #ffffff;
    height: 50px;
    width: 10px;
    position: relative;
    left: 220px;
    border: none;
    outline: none;
    transition: .7s
}

.up{
    margin-bottom: 100px !important;
}
.down{
    margin-top: 100px !important;
}